*.bak
*.dll
*.dylib
*.exe
*.exe~
*.log
*.o
*.out
*.so
*.swp
*.test
*.tmp
.DS_Store
cmd/classic/classic
cmd/doublejump/doublejump
cmd/getpixel/getpixel
cmd/simple/simple
go.work
include.txt
output.txt
